main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;

    .card {
        width: 100px;
        height: 100px;
        background-color: rgb(146, 24, 146);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        &.matched {
            background-color: lightgreen;
            cursor: default;
            &:hover {
                background-color: lightgreen;
            }
        }

        &.revealed {
            background-color: rgb(236, 216, 98);
            cursor: default;
            &:hover {
                background-color: rgb(236, 216, 98);
            }
        }
        
        &:hover {
            background-color: rgb(209, 120, 209);
        }
    }
}

.attempts {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.game-over {
    font-size: 2em;
    color: blue;
    margin-top: 20px;
}
